# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
.vs/osu!InfoFetcherQt/v16/.suo
*.ipch
osu!InfoFetcherQt/apikey.key
*.tlog
*.log
*.props
*.idx
*.pdb
*.ilk
x64/Release/apikey.key
